################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AliParser/v15/Server/sqlite3
/.vs/AliParser/v15
